<div *ngIf="visible" [style.display]="modal" id="modal">
  <div id="modal-content">
    <h3>Editing Task</h3>
    <form ngNativeValidate #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
      <div>
        <label for="title">Title</label><br>
        <input name="title" type="text" id="title" [(ngModel)]="placeholderTask.title" required ngModel>
      </div>
      <br>
      <div>
        <label for="dueDate">Due Date</label><br>
        <input name="dueDate" type="text" id="dueDate" [(ngModel)]="placeholderTask.dueDate" required ngModel>
      </div>
      <br>
      <div>
        <label for="priority">Priority</label><br>
        <select id="priority" name="priority" required ngModel>
          <option value="" disabled selected hidden>Select:</option>
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
        </select>
      </div>
      <br>
      <div>
        <label for="Description">Description</label><br>
        <input name="description" type="text" id="Description" [(ngModel)]="placeholderTask.description" required ngModel>
      </div>
      <br>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
