.task {
  margin-bottom: 5px;
}

.task:hover {
  border: 3px solid black;
}

.task-title {
  width: 400px;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
  padding-left: 10px;
}

.task-details {
  text-align: center;
  width: 150px;
  height: 50px;
  display: inline-block;
  border: 1px solid black;
}

#task-content {
  display: inline-block;
}

#task-controls {
  vertical-align: top;
  display: inline-block;
}

.task-actions {
  text-align: center;
  border: 1px solid black;
  width: 60px;
  padding: 10px;
  display: block;
  height: 26px;
}
