.task {
  margin-bottom: 5px;
  line-height: 50px;
}

.task-title {
  width: 400px;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
  padding-left: 10px;
}

.task-details {
  text-align: center;
  width: 150px;
  height: 50px;
  display: inline-block;
  border: 1px solid black;
}

#task-content {
  display: inline-block;
}

#task-content:hover {
  background-color: #888888;
}

#task-controls {
  vertical-align: top;
  display: inline-block;
}

.task-actions {
  border: 1px solid black;
  width: 60px;
  padding: 10px;
  display: block;
  height: 25px;
  font-size: 12px;
  line-height: 8px;
}

.task-actions:hover {
  background-color: #888888;
}
