<div class="task">
  <div id="task-content" (click)="selectTaskForDisplay()">
    <div class="task-title">
      <p id="task-title">{{task.title}}</p>
    </div>
    <div class="task-details">
      <p id="task-dueDate">{{task.dueDate.toDateString()}}</p>
    </div>
    <div class="task-details">
      <p id="task-priority">{{task.priority}}</p>
    </div>
  </div>
  <div id="task-controls">
    <button id="edit-btn" class="task-actions" (click)="editTask(task)">Edit</button>
    <button id="del-btn" class="task-actions" (click)="deleteTask(task.id)">Delete</button>
  </div>
</div>
